{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true
            }
        ]
               ],
    "plugins": [
        [
            "babel-plugin-static-fs",
            {
                target: "browser"
            }
        ]
    ]
}
